#Chapter 3: Data cleaning exercise

### Sales department performance analysis

The HR department wants to analyze the performance of the employees in the sales department.

### Data Reading
Rachel wrote a text file employee_revenue.txt including all necessary information, but she needs help to extract the necessary information.

Start by uploading the employee_revenue file to the working directory.

ðŸ“Œ Use the .read() method to open the text file in read mode and assign it to the variable "data".

In [1]:
#Open the file in read mode
file = open("employee_revenue.txt", "r")
data = file.read()

In [2]:
#Print the data
print(data)

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.
omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.
   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.
     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE.
Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size.
 bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$.
  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

### Data Cleaning

You can see that the data needs to be cleaned and information has to be extracted from these lines. 

To be able to clean the data, you need to separate the text into lines.

ðŸ“Œ Use the .splitlines() method.

In [3]:
#Seperate the data into lines
lines = data.splitlines()
splited_data = data.splitlines()
for i in splited_data:
    print(i)

  Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.
omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.
   KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.
     Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE.
Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size.
 bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$.
  JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

### Clean the data line by line

Start to clean the data for the first line.

ðŸ“Œ Use the .strip() method to remove the whitespaces from the edges of the string.

In [4]:
#Remove the whitespaces from the edges
for i in range(len(splited_data)):
    splited_data[i] = splited_data[i].strip()
    print(splited_data[i])

Ben made 300 calls and generated 2400 dollars last Month with an 8$ average deal size.
omer called 10 times and Sold 2 courses generated 60 dollars last month with a 6$ average deal size.
KAren called 500 people and achieved success by GETting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size IN the previous month.
Sue called 100 people and earned 500 Dollars in REvenue and an AVERAGE DEAL SIZE of 5$ Last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and GENERATING 4000 dollars a past month 25$ average deal SIZE.
Ellen made 800 calls and generated 6000 dollars a prior mONTH and reached 40$ the average deal size.
bob made 200 phone calls, helped to make a proGress and generated 800 dollars LAST MONTH and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue pASt month, and the average deal size was 10$.
JuDE made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

Next, you need to fix the capitalization issues.

ðŸ“Œ Use the .lower() method to convert the text to lowercase.

ðŸ“Œ Then use the .capitalize() method to capitalize the first letter.

In [5]:
#Convert the string to lowercase
for i in range(len(splited_data)):
    splited_data[i] = splited_data[i].lower()
    print(splited_data[i])

ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.
omer called 10 times and sold 2 courses generated 60 dollars last month with a 6$ average deal size.
karen called 500 people and achieved success by getting 24$ average deal size, got 12000 dollars revenue.
celine with 70 calls, made 2275 dollars and 32$ average deal size in the previous month.
sue called 100 people and earned 500 dollars in revenue and an average deal size of 5$ last month.
bora called 100 people generated 770 dollars last month, his average deal size was 25$.
rose made 600 phone calls and generating 4000 dollars a past month 25$ average deal size.
ellen made 800 calls and generated 6000 dollars a prior month and reached 40$ the average deal size.
bob made 200 phone calls, helped to make a progress and generated 800 dollars last month and gaining 15$ average deal size.
taylor, with 450 calls generated 1200 dollars in revenue past month, and the average deal size was 10$.
jude made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

In [6]:
#Capitalize the first character
for i in range(len(splited_data)):
    splited_data[i] = splited_data[i].capitalize()
    print(splited_data[i])

Ben made 300 calls and generated 2400 dollars last month with an 8$ average deal size.
Omer called 10 times and sold 2 courses generated 60 dollars last month with a 6$ average deal size.
Karen called 500 people and achieved success by getting 24$ average deal size, got 12000 dollars revenue.
Celine with 70 calls, made 2275 dollars and 32$ average deal size in the previous month.
Sue called 100 people and earned 500 dollars in revenue and an average deal size of 5$ last month.
Bora called 100 people generated 770 dollars last month, his average deal size was 25$.
Rose made 600 phone calls and generating 4000 dollars a past month 25$ average deal size.
Ellen made 800 calls and generated 6000 dollars a prior month and reached 40$ the average deal size.
Bob made 200 phone calls, helped to make a progress and generated 800 dollars last month and gaining 15$ average deal size.
Taylor, with 450 calls generated 1200 dollars in revenue past month, and the average deal size was 10$.
Jude made 80 calls and earned 500 dollars for the company last month, her average deal size was 12$.

### Information Extraction

To extract the information, you need to split the sentence into words. 

ðŸ“Œ Use the .split() method.

In [7]:
#Split the sentece into words
for i in range(len(splited_data)):
    splited_data[i] = splited_data[i].split()
    print(splited_data[i])

['Ben', 'made', '300', 'calls', 'and', 'generated', '2400', 'dollars', 'last', 'month', 'with', 'an', '8$', 'average', 'deal', 'size.']
['Omer', 'called', '10', 'times', 'and', 'sold', '2', 'courses', 'generated', '60', 'dollars', 'last', 'month', 'with', 'a', '6$', 'average', 'deal', 'size.']
['Karen', 'called', '500', 'people', 'and', 'achieved', 'success', 'by', 'getting', '24$', 'average', 'deal', 'size,', 'got', '12000', 'dollars', 'revenue.']
['Celine', 'with', '70', 'calls,', 'made', '2275', 'dollars', 'and', '32$', 'average', 'deal', 'size', 'in', 'the', 'previous', 'month.']
['Sue', 'called', '100', 'people', 'and', 'earned', '500', 'dollars', 'in', 'revenue', 'and', 'an', 'average', 'deal', 'size', 'of', '5$', 'last', 'month.']
['Bora', 'called', '100', 'people', 'generated', '770', 'dollars', 'last', 'month,', 'his', 'average', 'deal', 'size', 'was', '25$.']
['Rose', 'made', '600', 'phone', 'calls', 'and', 'generating', '4000', 'dollars', 'a', 'past', 'month', '25$', 'average', 'deal', 'size.']
['Ellen', 'made', '800', 'calls', 'and', 'generated', '6000', 'dollars', 'a', 'prior', 'month', 'and', 'reached', '40$', 'the', 'average', 'deal', 'size.']
['Bob', 'made', '200', 'phone', 'calls,', 'helped', 'to', 'make', 'a', 'progress', 'and', 'generated', '800', 'dollars', 'last', 'month', 'and', 'gaining', '15$', 'average', 'deal', 'size.']
['Taylor,', 'with', '450', 'calls', 'generated', '1200', 'dollars', 'in', 'revenue', 'past', 'month,', 'and', 'the', 'average', 'deal', 'size', 'was', '10$.']
['Jude', 'made', '80', 'calls', 'and', 'earned', '500', 'dollars', 'for', 'the', 'company', 'last', 'month,', 'her', 'average', 'deal', 'size', 'was', '12$.']

You might noticed that the first element in the list is the name and the third element is the number of calls.

ðŸ“Œ Use the indeces to extract the name and number of calls.

In [8]:
#Use the index 0 to access the name element
names_list = []
for i in range(len(splited_data)):
    splited_data[i][0] = splited_data[i][0].replace(",", "")
    print(splited_data[i][0])
    names_list.append(splited_data[i][0])

Ben
Omer
Karen
Celine
Sue
Bora
Rose
Ellen
Bob
Taylor
Jude

In [9]:
#Use the index 2 to access the number of calls element
calls_list = []
for i in range(len(splited_data)):
    print(splited_data[i][2])
    calls_list.append(splited_data[i][2])

300
10
500
70
100
100
600
800
200
450
80

So far so good!

But as you can see the sentence order is not the same after the 7th element.

To extract the average deal size you need to come up with a different approach. You can use the "$" sign to find the corresponding element.

ðŸ“Œ Loop over the list to find the element that includes the "$" sign.

ðŸ“Œ Then, use the .split() method to divide the string into the number and the $ sign.

In [10]:
average_deal_size_list = []
for i in range(len(splited_data)):
  for y in range(len(splited_data[i])):
    
    #Find the element with the "$" sign
    if "$" in splited_data[i][y]:
      
      #Divide the number from it
      splited_data[i][y] = splited_data[i][y].split("$")[0]
      average_deal_size_list.append(splited_data[i][y])
      
  #Print the average deal size
  print(f"{names_list[i]} has average deal size {average_deal_size_list[i]} dollars.")

Ben has average deal size 8 dollars.
Omer has average deal size 6 dollars.
Karen has average deal size 24 dollars.
Celine has average deal size 32 dollars.
Sue has average deal size 5 dollars.
Bora has average deal size 25 dollars.
Rose has average deal size 25 dollars.
Ellen has average deal size 40 dollars.
Bob has average deal size 15 dollars.
Taylor has average deal size 10 dollars.
Jude has average deal size 12 dollars.

Similarly, we can use the string "dollars" to extract the revenue, which is the element right before "dollars".

ðŸ“Œ Use the .index() method to identify the index for the "dollars" element.

ðŸ“Œ Then, use this index to specify and extract the revenue.

In [11]:
revenue_list = []
for i in range(len(splited_data)):
    #Find the index of element "dollars"
    temp_var = splited_data[i].index("dollars")
    
    #Subtract one from the index to identify the index of the revenue element
    revenue_list.append(splited_data[i][temp_var-1]) 
    
    #Extract and print the revenue
    print(f"{names_list[i]} has revenue {revenue_list[i]} dollars.")

Ben has revenue 2400 dollars.
Omer has revenue 60 dollars.
Karen has revenue 12000 dollars.
Celine has revenue 2275 dollars.
Sue has revenue 500 dollars.
Bora has revenue 770 dollars.
Rose has revenue 4000 dollars.
Ellen has revenue 6000 dollars.
Bob has revenue 800 dollars.
Taylor has revenue 1200 dollars.
Jude has revenue 500 dollars.

Great! You extracted all necessary information.

ðŸ“Œ Check the types of the data.

In [12]:
#Check the types
print(f"Names' type is {type(names_list[0])}")
print(f"Calls' type is {type(calls_list[0])}")
print(f"Average Deal Size' type is {type(average_deal_size_list[0])}")
print(f"Revenue' type is {type(revenue_list[0])}")

Names' type is <class 'str'>
Calls' type is <class 'str'>
Average Deal Size' type is <class 'str'>
Revenue' type is <class 'str'>

As you can see, we have the type string for all the data, but the average deal size, number of calls, and the revenue need to be integers. 

ðŸ“Œ Convert the data using the int() function and check again.

In [13]:
#Convert the datatypes of average deal size, number of calls, and revenue
for i in range(len(calls_list)):
    calls_list[i] = int(calls_list[i])
    average_deal_size_list[i] = int(average_deal_size_list[i])
    revenue_list[i] = int(revenue_list[i])

#Print out the information again
print(f"Calls' type is {type(calls_list[0])}")
print(f"Average Deal Size' type is {type(average_deal_size_list[0])}")
print(f"Revenue' type is {type(revenue_list[0])}")

Calls' type is <class 'int'>
Average Deal Size' type is <class 'int'>
Revenue' type is <class 'int'>


<span style="color:red">!!Done tasks below at the above!!</span>

Now, you need to apply all the methods and functions to the list that contains the different strings of all employees.

ðŸ“Œ Create an empty lists for storing names, number of calls, average deal sizes, and revenues.

ðŸ“Œ Use a for loop to iterate through the list with the whole data.

ðŸ“Œ Print out the necessary information.

In [14]:
#Create empty lists for the names, number of calls, average deal sizes, revenues

In [15]:
#Loop over the whole data

    #Clean the string
   

    #Split the clean string
    
    
    #Extract the name
    

    #Extract the average deal size
 

    #Extract the revenue


    #Convert to the correct data types


    #Append the information to the lists


#Print out the information

Finally, you can make the process even easier and reusable by defining functions.

ðŸ“Œ Define the function "clean_extract".

ðŸ“Œ Use the retured values by assigning them to variables.

In [16]:
#Create empty lists again
names_list = []
calls_list = []
average_deal_size_list = []
revenue_list = []

In [17]:
#Define a function to clean and extract the data
def clean_extract(lines, names, calls, average_deal_sizes, revenues):
    for employee in lines:
        employee = employee.strip(" ")
        employee = employee.lower()
        employee = employee.capitalize()
        
        split_employee = employee.split()
        split_employee[0] = split_employee[0].replace(",", "")
        names.append(split_employee[0])
        calls.append(int(split_employee[2]))
        
        for i in split_employee:
            if "$" in i:
                average_deal_size = i
                average_deal_size = average_deal_size.split("$")[0]
                average_deal_sizes.append(int(average_deal_size))
        
        dollars_index = split_employee.index("dollars")
        revenues.append(int(split_employee[dollars_index-1]))
    
    return names, calls, average_deal_sizes, revenues

In [18]:
#Assign returned values to variables
names_list, calls_list, average_deal_size_list, revenue_list = clean_extract(lines, names_list, calls_list, average_deal_size_list, revenue_list)

In [19]:
#Print out the information
print(f"Names: {names_list}")
print(f"Calls: {calls_list}")
print(f"Average Deal Sizes: {average_deal_size_list}")
print(f"Revenues: {revenue_list}")

Names: ['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor', 'Jude']
Calls: [300, 10, 500, 70, 100, 100, 600, 800, 200, 450, 80]
Average Deal Sizes: [8, 6, 24, 32, 5, 25, 25, 40, 15, 10, 12]
Revenues: [2400, 60, 12000, 2275, 500, 770, 4000, 6000, 800, 1200, 500]

### Performance Analysis Report

Now that you cleaned the string and extracted all the information using the function, you can create performance analysis report for the last month.

ðŸ“Œ Assign IDs to each employee.

ðŸ“Œ Create dictionaries.

ðŸ“Œ Sort the dictionaries.

First, check how many employees there are and assign the IDs.

ðŸ“Œ Use the len() and range() function.

In [20]:
#Check the number of employees
print(len(names_list))

11

In [21]:
#Generate IDs
IDs = list(range(11))
print(IDs)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
#Check the number of IDs
print(len(IDs))

11

With the IDs ready, you need to assign the IDs to the employees.

ðŸ“Œ Use the zip() function to pair the employee with the ID.

ðŸ“Œ Convert the zip object into a dictionary.

In [23]:
#Pair the names with the IDs in a dictionary
employee_dictionary = dict(zip(IDs, names_list))
print(f"Employees: {list(employee_dictionary.values())}")
print(f"IDs: {list(employee_dictionary.keys())}")

Employees: ['Ben', 'Omer', 'Karen', 'Celine', 'Sue', 'Bora', 'Rose', 'Ellen', 'Bob', 'Taylor', 'Jude']
IDs: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Similarly, create a dictionary for the  employees and their revenues.

In [24]:
#Pair the names with the revenues
revenue_dictionary = dict(zip(names_list, revenue_list))
print("Revenue:", revenue_dictionary, end="")

Revenue: {'Ben': 2400, 'Omer': 60, 'Karen': 12000, 'Celine': 2275, 'Sue': 500, 'Bora': 770, 'Rose': 4000, 'Ellen': 6000, 'Bob': 800, 'Taylor': 1200, 'Jude': 500}

In [25]:
calls_dictionary = dict(zip(names_list, calls_list))
average_deal_size_dictionary = dict(zip(names_list, average_deal_size_list))
print("Calls:", calls_dictionary, end="")
print("\nAverage Deal Size:", average_deal_size_dictionary, end="")

Calls: {'Ben': 300, 'Omer': 10, 'Karen': 500, 'Celine': 70, 'Sue': 100, 'Bora': 100, 'Rose': 600, 'Ellen': 800, 'Bob': 200, 'Taylor': 450, 'Jude': 80}
Average Deal Size: {'Ben': 8, 'Omer': 6, 'Karen': 24, 'Celine': 32, 'Sue': 5, 'Bora': 25, 'Rose': 25, 'Ellen': 40, 'Bob': 15, 'Taylor': 10, 'Jude': 12}

Finally, you need to find the employees with the best and lowest performance.

ðŸ“Œ Sort the dictionary using the sorted() function in ascending and descending order.

In [26]:
#Find the lowest performing employees (ascending order)
revenue_dictionary1 = dict(zip(revenue_list, names_list))
sorted_revenue_dictionary = sorted(revenue_dictionary1)[:4]

for i in sorted_revenue_dictionary:
    print(revenue_dictionary1[i])

Omer
Jude
Bora
Bob

In [27]:
#Find the best performing employees (descending order)
sorted_revenue_dictionary1 = sorted(revenue_dictionary1, reverse=True)[:4]

for i in sorted_revenue_dictionary1:
    print(revenue_dictionary1[i])

Karen
Ellen
Rose
Ben